.header{
    height: 400px;
    background-image: url("../developer.jpg");
    background-size: cover;
    background-position: center;
}
h2{
    color: cornsilk;
    font: 900px;
}
.div{
    margin: 100px;
}